.vscode/**
.vscode-test/**
.agents/**
.codex/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
package-lock.json
out/**
!out/extension.js
!out/gitignore.js
out/test/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
